<!DOCTYPE html>

<html>

<head>
    <!-- 页面meta -->

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>xdf</title>

    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <!-- 引入样式 -->

    <link href="../plugins/elementui/index.css" rel="stylesheet">

    <link href="../plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="../css/style.css" rel="stylesheet">

</head>

<body class="hold-transition">

<div id="app">

    <div class="content-header">

        <h1>图书管理</h1>

    </div>

    <div class="app-container">

        <div class="box">

            <div class="filter-container">
                <el-input class="filter-item" placeholder="图书类别" style="width: 200px;"></el-input>
                <el-input class="filter-item" placeholder="图书名称" style="width: 200px;"></el-input>
                <el-input class="filter-item" placeholder="图书描述" style="width: 200px;"></el-input>
                <el-button @click="getAll()" class="dalfBut">查询</el-button>
                <el-button @click="handleCreate()" class="butT" type="primary">新建</el-button>
            </div>

            <el-table :data="dataList" current-row-key="id" highlight-current-row size="small" stripe>

                <el-table-column align="center" label="序号" type="index"></el-table-column>

                <el-table-column align="center" label="图书类别" prop="type"></el-table-column>

                <el-table-column align="center" label="图书名称" prop="name"></el-table-column>

                <el-table-column align="center" label="描述" prop="description"></el-table-column>

                <el-table-column align="center" label="操作">

                    <template slot-scope="scope">

                        <el-button @click="handleUpdate(scope.row)" size="mini" type="primary">编辑</el-button>

                        <el-button @click="handleDelete(scope.row)" size="mini" type="danger">删除</el-button>

                    </template>

                </el-table-column>

            </el-table>

            <!--分页组件-->
            <div class="pagination-container">

                <el-pagination
                        :current-page="pagination.currentPage"

                        :page-size="pagination.pageSize"

                        :total="pagination.total"

                        @current-change="handleCurrentChange"

                        class="pagiantion"

                        layout="total, prev, pager, next, jumper">

                </el-pagination>

            </div>

            <!-- 新增标签弹层 -->

            <div class="add-form">

                <el-dialog :visible.sync="dialogFormVisible" title="新增图书">

                    <el-form :model="formData" :rules="rules" label-position="right" label-width="100px"
                             ref="dataAddForm">

                        <el-row>

                            <el-col :span="12">

                                <el-form-item label="图书类别" prop="type">

                                    <el-input v-model="formData.type"/>

                                </el-form-item>

                            </el-col>

                            <el-col :span="12">

                                <el-form-item label="图书名称" prop="name">

                                    <el-input v-model="formData.name"/>

                                </el-form-item>

                            </el-col>

                        </el-row>


                        <el-row>

                            <el-col :span="24">

                                <el-form-item label="描述">

                                    <el-input type="textarea" v-model="formData.description"></el-input>

                                </el-form-item>

                            </el-col>

                        </el-row>

                    </el-form>
                    <div class="dialog-footer" slot="footer">

                        <el-button @click="cancel()">取消</el-button>

                        <el-button @click="handleAdd()" type="primary">确定</el-button>

                    </div>

                </el-dialog>

            </div>

            <!-- 编辑标签弹层 -->

            <div class="add-form">

                <el-dialog :visible.sync="dialogFormVisible4Edit" title="编辑检查项">

                    <el-form :model="formData" :rules="rules" label-position="right" label-width="100px"
                             ref="dataEditForm">

                        <el-row>

                            <el-col :span="12">

                                <el-form-item label="图书类别" prop="type">

                                    <el-input v-model="formData.type"/>

                                </el-form-item>

                            </el-col>

                            <el-col :span="12">

                                <el-form-item label="图书名称" prop="name">

                                    <el-input v-model="formData.name"/>

                                </el-form-item>

                            </el-col>

                        </el-row>

                        <el-row>

                            <el-col :span="24">

                                <el-form-item label="描述">

                                    <el-input type="textarea" v-model="formData.description"></el-input>

                                </el-form-item>

                            </el-col>

                        </el-row>

                    </el-form>

                    <div class="dialog-footer" slot="footer">

                        <el-button @click="cancel()">取消</el-button>

                        <el-button @click="handleEdit()" type="primary">确定</el-button>

                    </div>

                </el-dialog>

            </div>

        </div>

    </div>

</div>

</body>

<!-- 引入组件库 -->

<script src="../js/vue.js"></script>

<script src="../plugins/elementui/index.js"></script>

<script src="../js/jquery.min.js" type="text/javascript"></script>

<script src="../js/axios-0.18.0.js"></script>

<script>
    var vue = new Vue({
        el: '#app',
        data: {
            dataList: [],//当前页要展示的列表数据
            dialogFormVisible: false,//添加表单是否可见
            dialogFormVisible4Edit: false,//编辑表单是否可见
            formData: {},//表单数据
            rules: {//校验规则
                type: [{required: true, message: '图书类别为必填项', trigger: 'blur'}],
                name: [{required: true, message: '图书名称为必填项', trigger: 'blur'}]
            },
            pagination: {//分页相关模型数据
                currentPage: 1,//当前页码
                pageSize: 10,//每页显示的记录数
                total: 0//总记录数
            }
        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.getAll();
        },

        methods: {
            //列表
            getAll() {
                axios.get('http://localhost:80/books').then((res) => {
                    this.dataList = res.data.data
                })
            },

            //弹出添加窗口
            handleCreate() {
                this.dialogFormVisible = true;
                this.resetForm();
                this.getAll();
            },

            //重置表单
            resetForm() {
                this.dataList = {};
            },

            //添加
            handleAdd() {
                this.formData={};
                axios.post("http://localhost:80/books", this.formData).then((res) => {
                    if (res.data.flag == true) {
                        this.dialogFormVisible = false;
                        this.$message.success("操作成功");
                    } else {
                        this.$message.error("添加失败");
                    }
                }).finally(() => {
                    this.getAll();
                });
            },

            //取消
            cancel() {
                this.dialogFormVisible = false;
                this.dialogFormVisible4Edit=false;
                this.resetForm();
                this.$message.info("取消成功")
                this.getAll();
            },
            // 删除
            handleDelete(row) {
                this.$confirm("确认是否删除", "提示", {type: "warning"}).then(() => {
                    axios.delete('http://localhost:80/books' + row.id).then((res) => {
                        if (res.data.flag == true) {
                            this.$message.success("删除成功");
                        } else {
                            this.$message.error("数据同步失败");
                        }
                    }).finally(() => {
                        this.getAll();
                    });
                }).catch(() => {
                    this.$message.info("取消操作")
                })
            },

            //弹出编辑窗口
            handleUpdate(row) {
                axios.get('http://localhost:80/books' + row.id).then((res) => {
                    if (res.data.flag && res.data.data != null) {
                        this.dialogFormVisible4Edit = true;
                        this.formData=res.data.data;
                    } else {
                        this.$message.error("数据同步失败");
                    }
                }).finally(()=>{
                    this.getAll();
                })
            },
            //修改
            handleEdit: function () {
                axios.put('http://localhost:80/books', this.formData).then((res) => {
                    if (res.data.flag) {
                        this.dialogFormVisible4Edit = false;
                        this.$message.success("修改成功");
                    } else {
                        this.$message.error("修改失败");
                    }
                }).finally(() => {
                    this.getAll();
                });
            },

            //分页查询

            //切换页码
            handleCurrentChange(currentPage) {
            },

            //条件查询
        }
    })

</script>

</html>